<!DOCTYPE html>

<!-- Course details with graph -->

<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>Course Details</title>

        <% include ../partials/css_style %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="bg-graph">
            <div class="space-graph"></div>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <p class="footer">© Copyright 2017 Data Grade by Michelle Duer</br>
            Photo by Janko Ferlič on Unsplash</br></p>
        <script type="text/javascript" src="graph.js" charset="UTF-8"></script>
    </body>
</html>
