<!DOCTYPE html>

<!-- 404 Page Not Found Error Message -->

<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>404 Page Not Found</title>

        <% include ../partials/css_style %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="bg-err">
            <div class="space"></div>
            <p class="error">You or the page you are looking for are lost!</br>
            Here's a shortcut back <a href="/home">HOME</a>!</p>
        </div>

        <p class="footer">© Copyright 2017 Data Grade by Michelle Duer</br>
            Photo by Fabian Struwe on Unsplash</br></p>
    </body>
</html>
