<!DOCTYPE html>

<!-- A search form to find if a matching course already exists in database -->

<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>Find Course</title>

        <% include ../partials/css_style %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="bg">
            <div class="space"></div>

            <div class="container">
                <h2>Enter Course Details:</h2>
                <br>
                <div class="form-horizontal">
                    <div class="form-group">
                        <!-- use col-sm-2 as well as col-sm-8 in the exercises, just like in the examples in the slides. -->
                        <label for="courseID" class="col-sm-2 control-label">Course Identifier</label>
                        <div class="col-sm-3">
                            <input type="name" class="form-control" id="courseID" placeholder="e.g. CS510, PHYS42 ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="courseInstructor" class="col-sm-2 control-label">Instructor's Last Name</label>
                        <div class="col-sm-3">
                            <input type="name" class="form-control" id="courseInstructor" placeholder="e.g. Niklaus, Hawkings ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="academicYear" class="col-sm-2 control-label">Year</label>
                        <div class="col-sm-3">
                            <input type="name" class="form-control" id="academicYear" placeholder="e.g. 2017 ">
                        </div>
                    </div>
                    <!-- keeping more simple TODO: add back later
                    <div class="form-group" id="courseSystem">
                        <label for="courseSystem" class="col-sm-2 control-label">Academic System</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="courseSystem">
                                <option value="quarter">Quarter</option>
                                <option value="semester">Semester</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="quarterTerms">
                        <label for="quarterTerms" class="col-sm-2 control-label" style="display:none">Term</label>
                        <div class="col-sm-3">
                            <select multiple class="form-control" id="quarterTerms" style="display:none">
                                <option selected>Fall</option>
                                <option>Winter</option>
                                <option>Spring</option>
                                <option>Summer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="semesterTerms" class="col-sm-2 control-label" style="display:none">Term</label>
                        <div class="col-sm-3">
                            <select multiple class="form-control" id="semesterTerms" style="display:none">
                                <option selected>Fall</option>
                                <option>Spring</option>
                                <option>Summer</option>
                            </select>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!--
                            <input type="button" class="btn btn-primary" id="submit" type="submit" value="Submit">
                            -->
                            <a href="/course"><input type="button" class="btn btn-primary" id="submit" type="submit" value="Submit"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function() {
                var courseID, instructor = '';
                var year = 0;

                $("#submit").click(function() {
                    courseID = $("#courseID").val();
                    instructor = $("#courseInstructor").val();
                    year = $("#academicYear").val();

                    $.post("http://localhost:8080/login",{user: user, password: password}, function(data) {
                        if (data === '200') {
                            window.location = "/home"
                        } else if (data === '307') {
                            window.location = "/"
                        }
                    });
                    $.ajax({
                        type: 'GET',
                        data: {"courseID":courseID, "instructor":instructor,"year":year},
                        //dataType: 'json',
                        url: 'http://localhost:8080/find',
                        success: function(data) {
                            //console.log("data\n" + data);
                        }
                    });
                });
            });
        </script>
        <% include ../partials/footer %>
    </body>
</html>
