<!DOCTYPE html>

<!-- Home Page -->

<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>Home</title>

        <% include ../partials/css_style %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="bg">
            <div class="space"></div>
                <div>
                    <ol>
                        <li>Main CONSOLE</li>
                    </ol>
                </div>
        </div>

        <% include ../partials/footer %>
    </body>
</html>
