<!DOCTYPE html>

<!-- For user to add a new course or from a course that was found -->

<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>Add Course</title>

        <% include ../partials/css_style %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="bg">
            <div class="space"></div>
            <div>
                <ol>
                    <li>List user's courses</li>
                </ol>
            </div>
        </div>

        <% include ../partials/footer %>
    </body>
</html>
