<!DOCTYPE html>

<!-- Not an active page, a template for quickly generating new pages -->

<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>Page Name</title>

        <% include ../partials/css_style %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="bg">
            <div class="space"></div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>
